<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

        <!-- CSS stylesheets -->
        <link rel="stylesheet" href="/styles/index.css" type="text/css" />

        <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
    </head>

    <body>

        <form method="POST" action="/airline/:arrName" id=sendForm>
            <div class="welContainer"></br><span id="welcomeMsg">Welcome to Airline Check</span></div>br></div>
            <div class="mainContainer">
                <span class="airlineName">Enter code of airline</span></br>
                <select name="flightN">
                    <option disabled>- North America -</option>
                    <option value="AC">Air Canada</option>
                    <option value="WS">WestJet</option>
                    <option value="UA">United Airlines</option>
                    <option value="DL">Delta Air Lines</option>
                    <option value="AA">American Airlines</option>
                    <option value="B6">jetBlue Airways</option>
                    <option value="AS">Alaska Airlines</option>
                    <option disabled>- Asia Pacific -</option>
                    <option value="BR">Eva Air</option>
                    <option value="JL">Japan Airlines</option>
                    <option value="NH">All Nippon Airways</option>
                    <option value="KR">Korean Air</option>
                    <option value="OZ">Asiana Airlines</option>
                    <option value="SQ">Singapore Airlines</option>
                    <option value="CX">Cathay Pacific Airways</option>
                    <option value="QF">Qantas Airways</option>
                    
                </select>
            </br>
                <button class="btn btn-primary pink-background" id="searchButton" type="submit">CHECK</button>
            </div>
        </form>
    </body>

</html>